<style>
    body{
	    background-image: url(<%= asset_path 'bg.jpg' %>);
	    background-size: cover;
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	}
</style>

<div align="center" style="position: fixed; z-index: 1; padding-top: 100px; left: 0;top: 0; width: 100%; height: 100%; overflow: auto;">
	<div align="left" style="border: 2px solid white; background-color: rgba(0, 0, 0, 0.8); padding: 50px 50px; width: 800px;">
		<div class="row" style="margin: 5px 5px; height: 150px;">
			<img style="float: left; margin: 0px 10px;border-radius: 10px; border: 2px solid #a1a4a8; height: 100; width: 100;" src=<%= asset_path  'logo.jpg' %>>
			<div style="display: inline; color: white;">
				<i style="font-size: 200%;">Design your fashion</i>
				<br>
				please enter your description for the design (ex: short red skirt) and your pose to fit with the descriped design.
				<br>
				Thanks for visiting us.
			</div>
		</div>
		<div align="center" style="display: block;">
			<%= form_for :anything, url: "main/init" do |f| %>
				<div>
					<%= f.text_area :description, :placeholder => "Your Description ... ", :style => "width: 500px; height: 100px; padding: 8px 8px;" %>
				</div>
				<div>
					<%= f.file_field :pose, style: "color: white; background-color: transparent; border: 1px solid white; border-radius5px;"%>
				</div>
				<%= button_tag type: 'submit', style: "cursor: pointer; outline: 0; background: transparent; border: none; border-radius: 25px;" do %>
					<i class="fa fa-arrow-circle-o-right fa-5x" aria-hidden="true" style="color: white;"></i>
			    <% end %>
			<% end %>
		</div>
	</div>
</div>